.advantages-card {
  text-align: center;
  background-color: $advantages-bg-secondary;
  text-wrap: pretty;
}

.advantages-card--accent {
  color: $text-white;
  background-color: $advantages-bg-accent;
  display: grid;
  place-items: center;

  &:first-child {
    padding-top: 20px;

    @media (max-width: $mobile-only) {
      background-image: url("../img/advantages-triangle.png");
      background-repeat: no-repeat;
      background-size: 100% 5%;
    }

    @media (min-width: $medium-width) {
      padding-top: 0;
    }
  }

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-card--essential {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 12px;
  max-width: 465px;
  margin-top: 16px;
  margin-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  color: $text-black;
  background-color: $advantages-bg-essential;

  @media (min-width: $medium-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 76px auto 1fr;
    column-gap: 0;
    max-width: 193px;
    text-align: center;
    place-items: center;
  }

  @media (min-width: $medium-width) {
    max-width: 320px;
  }

  &::after {
    content: "";
    grid-row: 1 / 2;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (min-width: $medium-width) {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
}

.advantages-card--essential-house {
  &::after {
    width: 39px;
    height: 37px;
    background-image: url("../img/icon-house.svg");

    @media (min-width: $medium-width) {
      width: 75px;
      height: 72px;
    }
  }
}

.advantages-card--essential-food {
  &::after {
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-burger.svg");

    @media (min-width: $medium-width) {
      width: 76px;
      height: 68px;
    }
  }
}

.advantages-card--essential-souvenirs {
  &::after {
    width: 40px;
    height: 35px;
    background-image: url("../img/icon-gift.svg");

    @media (min-width: $medium-width) {
      width: 64px;
      height: 75px;
    }
  }
}

.advantages-card__content {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 280px;
  position: relative;
  grid-column: 1 / 2;
  padding: 0 20px;
}

.advantages-card:nth-child(n+4) .advantages-card__content {
  position: relative;

  &::after {
    @media (max-width: $mobile-only) {
      content: "";
      width: 280px;
      height: 1px;
      margin-left: -20px;
      background-color: $advantages-border;
    }
  }
}

.advantages-card:last-child .advantages-card__content {
  &::after {
    display: none;
  }
}

.advantages-card--accent-reversed .advantages-card__content {
  @media (min-width: $medium-width) {
    order: 2;
    grid-column: 3 / -1;
  }
}

.advantages-card--accent .advantages-card__img {
  @media (min-width: $medium-width) {
    grid-column: 2 / -1;
  }
}

.advantages-card--accent-reversed .advantages-card__img {
  @media (min-width: $medium-width) {

    grid-column: 1 / 3;
  }
}

.advantages-card__img img {
  width: 100%;
  object-fit: contain;
}

.advantages-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 22px;
  padding: 0;
  text-wrap: pretty;

  @media (min-width: $medium-width) {
    font-size: 21px;
    max-width: 200px;
  }
}

.advantages-card--accent .advantages-card__title {
  margin-bottom: 25px;
  padding-top: 30px;

  @media (min-width: $medium-width) {
    margin-top: 10px;
    padding-top: 15px;
  }
}

.advantages-card--essential .advantages-card__title {
  margin-top: 5px;
  margin-bottom: 15px;
}

.advantages-card__number {
  margin-bottom: 28px;
}

.advantages-card__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.advantages-card--accent .advantages-card__text {
  padding-bottom: 9px;
}

.advantages-card--essential .advantages-card__title,
.advantages-card--essential .advantages-card__text {
  grid-column: 2 / -1;

  @media (min-width: $medium-width) {
    grid-column: 1 / -1;
  }
}
