.close {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $medium-width) {
    display: none;
  }

  &:hover {
    .close__icon {
      opacity: 0.6;
    }
  }

  &:focus-visible {
    .close__icon {
      opacity: 0.6;
    }
  }

  &:active {
    .close__icon {
      opacity: 0.3;
    }
  }
}

.close__icon {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
