.gallery__photos {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $big-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item--big {
  @media (min-width: $medium-width) {
    grid-column: 1/-1;
  }
}
