.input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  padding-left: 22px;
  padding-right: 22px;
  border: none;

  &::placeholder {
    color: $text-black;
  }
}
