.intro {
  text-transform: uppercase;
  background-color: transparent;
}

.intro__img-wrapper {
  position: relative;
  margin-bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    width: 282px;
    height: 214px;
    top: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../img/intro-img-text.png");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    bottom: 0px;
    background-image: url("/img/intro-triangle.svg");
    background-repeat: no-repeat;
  }
}


.intro__img {
  display: block;
  width: 320px;
  height: auto;
  object-fit: contain;
}

.intro__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 26px;
  text-align: center;
}

.intro__slogan {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 44px;
}

.intro__text {
  font-size: 14px;
  color: $text-grey;
}
