.intro {
  text-transform: uppercase;
  background-color: transparent;
}

.intro__img-wrapper {
  position: relative;
  margin-bottom: 32px;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 282px;
    height: 214px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/intro-img-text.png");
    background-repeat: no-repeat;
  }
}

.intro__img-wrapper--inner {
  &::before {
    content: "";
    position: absolute;
    width: 229px;
    height: 39px;
    background-image: url("../img/intro-text-inner.png");
  }
}


.intro__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.intro__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 26px;
  text-align: center;
  padding: 0 20px;
}

.intro__slogan {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 44px;
  text-wrap: balance;
}

.intro__text {
  font-size: 14px;
  color: $text-grey;
  // text-wrap: balance;
  text-wrap: pretty;
}
