.page-footer {
  color: $text-black;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $medium-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  @media (min-width: $big-width) {
    padding: 0 119px;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
