.video-card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.video-card__text {
  line-height: 24px;
  color: $text-grey;
  text-transform: uppercase;
  text-align: center;
}
