// Colors
$page-bg: #ffffff;
$block-main-bg: #ffffff;
$text-white: #ffffff;
$text-black: #000000;
$text-grey: #333333;
$color-accent: #81B3D2;
$lighter-grey: #e5e5e5;
$button-hover: #669EC0;
$button-active: #5496BD;
$advantages-bg-accent: #81B3D2;
$advantages-bg-secondary:#eeeeee;
$advantages-bg-essential:#ffffff;
$input-bg:#f2f2f2;
$input-icon-bg:#e6e6e6;

// Fonts
$main-font: "PT Sans", "Arial", sans-serif;

// Mixins
@mixin link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
