// Colors
$page-bg: #ffffff;
$block-main-bg: #ffffff;
$text-white: #ffffff;
$text-black: #000000;
$text-grey: #333333;
$color-accent: #81B3D2;
$lighter-grey: #e5e5e5;
$button-hover: #669EC0;
$button-active: #5496BD;
$advantages-bg-accent: #81B3D2;
$advantages-bg-secondary:#eeeeee;

// Fonts
$main-font: "PT sans", "Arial", sans-serif;
